<md-dialog aria-label="{{article.title}}"  ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{article.title}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Fechar"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            {{article.description}}
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button ng-click="closeDialog()" style="margin-right:20px;">
            FECHAR
        </md-button>
    </md-dialog-actions>
</md-dialog>

