<ion-view view-title="{{article.title}}">

    <ion-content class="padding">

        <div class="list card">

            <div class="item item-divider">
                Descrição
            </div>
            <div class="item item-text-wrap">
                {{article.description}}
            </div>
<!--
            <div class="item item-divider">
                Pronuncia
            </div>
            <ion-list>

                <ion-item ng-repeat="contribution in article.contribution track by $index" class="item item-text-wrap">

                    {{contribution}}

                </ion-item>

            </ion-list>

            <div class="item item-divider">
                Sons
            </div>
            <ion-list>

                <ion-item ng-repeat="sound in article.sounds track by $index" class="item item-text-wrap">

                    http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/{{sound}}
                    
                </ion-item>

            </ion-list>-->

        </div>

    </ion-content>

</ion-view>
